*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Montserrat", monospace;

  --fw-reg: 400;
  --fw-bold: 800;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #6cc7b8;

  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.2rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.7rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.1rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}

/* .intro {
  width: 90%;
  display: flex;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  padding-top: 3em;
  flex-direction: column;
}

.intro_left {
  flex: 1;
  overflow: hidden;
}

.intro_img {
  width: 90%;
  border-radius: 200px;
  margin-left: 10%;
  margin-right: 50%;
  margin-top: 10%;
  padding: 1em;
  border: 10px solid black;
  object-fit: cover;
}

.intro_right {
  flex: 2;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  line-height: 1.1;
}

#name {
  font-size: var(--fs-h1);
}

@media (min-width: 800px) {
  .intro {
    flex-direction: column;
  }

  .intro_img {
    min-width: 400px;
  }

  .intro_left {
    height: 300px;
  }

  .intro_right {
    padding: 2em;
  }

  .title {
    font-size: var(--fs-h3);
    text-align: center;
  }
} */

.intro {
    position: relative;
  }
  
  .intro__img {
    box-shadow: var(--bs);
    border-radius: 10px;
    margin-top: -0.7em;
  }
  
  .section__subtitle--intro {
    /* display: inline-block; */
    text-align: center;
  }
  
  @media (min-width: 600px) {
    .intro {
      display: grid;
      width: min-content;
      margin: 0 auto;
      grid-template-columns: 1em;
      grid-template-areas:
        "img title"
        "img subtitle";
      grid-template-columns: min-content max-content;
    }
  
    .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
      border-radius: 10px;
      margin-top: 0.3em;
    }
  
    .section__title {
      margin-bottom: 0.1em;
      margin-left: 0.5em;
      margin-right: 0.25em;
    }
  
    .section__subtitle--intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
  
      text-align: right;
      position: relative;
      left: -1em;
      width: calc(100% + 1.5em);
    }
  }