@import url("https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,300,500,600;1,300,500,600");

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Montserrat", monospace;

  --fw-thin: 300;
  --fw-reg: 500;
  --fw-bold: 600;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #e0e0e0;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
}

@media (min-width: 700px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em 15em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 2em 1em 2em;
}

.button-container {
  /* margin: 0 0 -10px 90px; */
  z-index: 0;
  /* display: flex; */
  /* justify-content: flex-end; */
  position: fixed;
  right: 50px;
  top: 17px;
}

.header-button {
  /* margin: 0 0; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: none;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  color: black;
  backdrop-filter: blur(5px);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline;
  margin: 0 0 0 2em;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav__title {
  font-size: 1.7em;
  font-weight: 500;
  margin: 5px 15px 0 15px;
}

.contact__links {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.contact__img {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

/* Dark mode and inverted styles */
.dark-mode {
  filter: invert(1) hue-rotate(100deg);
}

.inverted {
  filter: invert(1) hue-rotate(180deg);
}

.moon, .sun {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  display: block;
}

.sun {
  display: none; /* Hide sun icon by default */
}

.dark-mode .sun {
  display: block; /* Show sun icon in dark mode */
}

.dark-mode .moon {
  display: none; /* Hide moon icon in dark mode */
}

/* intro */

.intro {
  text-align: center;
  position: relative;
  display: grid;
  width: min-content;
  margin: 0 auto;
  padding: 2em;
  padding-top: 15em;
  grid-template-areas:
    "img title"
    "img subtitle";
  grid-template-columns: min-content max-content;
}

.intro__img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: img;
  max-width: 350px;
  position: relative;
  z-index: 2;
  border-radius: 200px;
  margin-top: 1em;
}

.section__title {
  margin-left: 1.5em;
}

.section__title--intro {
  font-weight: var(--fw-thin);
  font-size: var(--fs-h1);
}

.section__title--intro strong {
  display: block;
  font-weight: var(--fw-bold);
}

.intro__div {
  width: 700px;
  height: 2px;
  background-color: var(--clr-dark);
  margin: auto;
  width: 50%;
  border-radius: 20px;
  margin-top: 5em;
  background-color: transparent;
  box-shadow: black 0px 0px 30px;
  /* color: black; */
}


.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-light);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: transform 200ms ease-in-out;
  border: solid var(--clr-dark);
  border-radius: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

/* contact */

.contact {
  font-size: var(--fs-h3);
  text-align: center;
  background-color: var(--clr-light);
  padding: 2em 2em;
}

.contact__title {
  font-weight: var(--fw-reg);
}

@media (min-width: 700px) {
  .contact__links {
    margin-left: 30%;
    margin-right: 30%;
  }
}

.contact__div {
  /* height: 200px; */
  padding: 5em;
  background-color: var(--clr-light);
  position: relative;
  text-align: center;
}

.dir_btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  width: 30px;
}

@media (min-width: 700px) {
  .dir_btns {
    margin-left: 35%;
    margin-right: 35%;
  }
}

.projects {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url("./img/laptop-background.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: var(--clr-light);
  border-radius: 70% / 30%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0px 10px 200px black;
}

.project__title {
  font-size: var(--fs-h2);
}

.project__div {
  width: 700px;
  height: 5px;
  background-color: var(--clr-light);
  margin: auto;
  width: 50%;
  border-radius: 20px;
}

.project {
  padding: 2em;
  font-weight: var(--fw-thin);
}

@media (min-width: 700px) {
  .project__title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
  }
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}
